.app {
  text-align: center;
  margin: 20px 0;
}

.grid {
  margin: 20px 0;
}

.row {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
